<% layout('completedCookLayout') -%>

<div class="container">
  <div id="pplBtn" class="container">
    <h1 style="padding-top:50px; padding-left:50px;">Cooking Complete !!</h1>
    <a href="/products/<%= categories[0]._id %>"><button id="testjs" class="btn btn-primary">Find Another Recipe</button></a>
    <a href="/recipe"><button id="testjs" class="btn btn-primary">Cook It Again</button></a>
    <a href="/publicFeed"><button id="testjs" class="btn btn-primary">Post and Finish</button></a>
</div>