<% layout('completedCookLayout') -%>

<div class="container">
  <div id="pplBtn" class="container">
    <h1 style="padding-top:50px; padding-left:50px;">Cooking <%= product.name %> Complete !!</h1>
    <a href="/products/<%= categories[0]._id %>"><button id="testjs" class="btn btn-primary"><h4>Find Another Recipe</h4></button></a>

    <form method="post">
    <input type="hidden" name="product_id" value="<%= product._id %>"></input>
    <input type="hidden" name="product_name" value="<%= product.name %>"></input>
    <label="image">Image URL: </label>
    <input type="text" class="form-control" name="image">
    <button type="submit" class="btn btn-success"><h2>Post and Finish</h2></button>
    </form>
</div>
