<% layout('layout') -%>

<div class="jumbotron" style ="opacity: 0.9;" id="navbar-gap">
  <div class="container">
    <h1> cookingMamaRealEdition</h1>
    <p>Starting point to create something more unique</p>
    <p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login &raquo;</a>
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Start your search here</h3>
      <p>Signup to start cooking</p>
    </div>
    <div class="col-md-4">
      <h3>Look for legit grub</h3>
      <p>We know you like Ramen</p>
   </div>
    <div class="col-md-4">
      <h3>Droolworthy Nom-Noms</h3>
      <p>Share with your friends</p>
    </div>
  </div>
</div>
