<% layout('layout') -%>

<div class="jumbotron" style ="opacity: 0.9;" id="navbar-gap">
  <br>
  <div class="container">
    <h1> LittleCooker</h1>
    <p>Starting point for sharing grub and curing the hangries</p>
    <p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login &raquo;</a>
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-6" style="opacity:0.9;">
        <div class="thumbnail">

      <h3>Start your search <a href="/signup">here</a></h3>
      <p><a href="/signup">Signup to start cooking</a></p>
      <img src="/images/cooker.png">
      <p><a href="/signup">Signup to start cooking</a></p>

    </div>
  </div>
</div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-6" style="opacity:0.9;">
        <div class="thumbnail">
      <h3>Look for legit grub</h3>
      <img src="/images/find.png">
      <p>We know you like <a href="/signup">Ramen</a></p>
    </div>
  </div>
</div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-6" style="opacity:0.9;">
        <div class="thumbnail">

      <h3>Droolworthy Nom-Noms</h3>
      <p>See What <a href="/signup">Everyone is Cooking</a></p>
      <img src="/images/feed.png">
      <br>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-6" style="opacity:0.9;">
        <div class="thumbnail">

      <h3>Add your own recipes</h3>
      <p><a href="/signup">Share your story</a></p>
      <img src="/images/recipe.png">
      <br>

      </div>
    </div>
  </div>
</div>
